
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/StaticFiles/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet" />

<link href="~/StaticFiles/bootstrap-4.3.1-dist/css/bootstrap-grid.css" rel="stylesheet" />

<link href="~/StaticFiles/bootstrap-4.3.1-dist/css/bootstrap-grid.min.css" rel="stylesheet" />

<script src="~/StaticFiles/jquery-3.4.1.min.js"></script>
<script src="~/StaticFiles/bootstrap-4.3.1-dist/js/bootstrap.js"></script>


<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>

</head>

<body>


    @RenderBody()
</body>
</html>
