
@{
    Layout = null;
}

<!DOCTYPE html>
@*<link href="~/css/Mystil.css" rel="stylesheet" />
<link href="~/NewFolder/besir.css" rel="stylesheet" />
<link href="~/dosya/metin.css" rel="stylesheet" />*@

<link href="~/demir/deneme.css" rel="stylesheet" />


<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>

</head>

<body>


    @RenderBody()
</body>
</html>
