
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@*<link href="~/dosya/metin.css" rel="stylesheet" />*@

<link href="~/css/StyleSheet.css" rel="stylesheet" />

@*<style>


    div {
        color: #4cff00;
    }
</style>*@





<div>beşir aydemir</div>